/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
body {
    padding: 0.8em;
}

div.field .label {
    width: 68px;
    height: 35.5px;
    padding-top: 0.99em;
}
div.field .ui.input input {
    width: 532px;
}
.current>.tree.node .node-operation {
    display: inline-block;
}

.node-operation {
    display: none;
    float: right;
    padding-right: 0.5em;
}

.node-operation i {
    margin-right: 0.5em;
}